.box .containers{
display: flex;
justify-content: space-between;
}
.box{
flex: 1;
background-color: #0a51cc;
color: white;
border-radius: 10px;
margin: 20px 10px;
box-shadow: 0 3px 5pw rgba(0, 0, 0, 6);
padding: 15px 20px;
}

.box i{
    margin-right: 10px;
}
@media(max-width: 768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }



.boxes .container{
    display: block;
    text-align: center;
}
}